@import 'main';
@import "compass";
@include global-reset;
@include reset-html5;
$color-background: #eee !default;
$color-main: #258fb8 !default;
$color-gray01: #666 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;

@import "base";
@import "partials";
@import "parts";

code {
  font-size: 1.2em;
}

.wrap {
  width: 50%;
  line-height: 1.7em;
  color: #3A4145;
}

@media (max-width: 600px) {
  .wrap {
    width: 90%;
    line-height: 30px;
  }
}

h2 {
  color: #000;
}


sup, sub {
  padding: 0 0.2em;
  display: inline;
  font-size: 80%
}

.footnotes {
  font-size: 80%;
}

img, video{
  @extend .basic-alignment;
  margin: 10px 0;
  max-width: 100%;
  height: auto;
  -moz-border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -o-border-radius:0.3em;
  -ms-border-radius:0.3em;
  -khtml-border-radius:0.3em;
  border-radius:0.3em;
  -moz-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
  -webkit-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
  -o-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
  box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  border:#fff 0.3em solid;
}


.left {
  float: left;
  margin-right: 30px;
}

.right {
  float: right;
  margin-left: 30px;
}

.cat-month {
  color: #cc0033;
}

h1, header h1 a, h2 {
  font-family: 'CharterITCPro-Regular', serif;
}

time {
  color: #777777;
}

article > footer {
  padding-bottom: 0;
  border: 0;
  border-top: 1px dashed #4d4d4d;
}

header h1 a,h1 {
  font-size: 1.7em;
  line-height: 1em;
  border-bottom: 0;
  font-weight: bold;
  margin-top: 2em;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 2em;
}

article {
  border-bottom:  0;
}

ul li a, p a {
  border-bottom: 1px dashed black;
}

ol.aseries {
  border-radius: 1.5em;
  padding: 1em;
  margin-top: 1em;
  li {
    margin-left: 2em;
  }
  font-size: 1em;
  line-height: 1.3em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

ol.aseries {
	position: relative;
	background: #ecf7ff;
	border: 4px solid #c2e1f5;
}
ol.aseries:after, ol.aseries:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}



.center {
  display: block;
  margin: 0 auto 1.5em;
}

.nobo {
  box-shadow: none;
}

.series_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.series_nav div {
  width: 50%;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.series_nav div a {
  color: #ddf8c6;
}

.series_nav div.prev {
	position: relative;
	background: #262626;
	border: 6px solid #5f6e78;
}
.series_nav div.prev:after, .series_nav div.prev:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.series_nav div.prev:after {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #262626;
	border-width: 30px;
	margin-top: -30px;
}
.series_nav div.prev:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #5f6e78;
	border-width: 38px;
	margin-top: -38px;
}

.series_nav div.next {
	position: relative;
	background: #262626;
	border: 6px solid #5f6e78;
}
.series_nav div.next:after, .series_nav div.next:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.series_nav div.next:after {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #262626;
	border-width: 30px;
	margin-top: -30px;
}
.series_nav div.next:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #5f6e78;
	border-width: 38px;
	margin-top: -38px;
}
