
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Re-doing things with Symfony2 - Alessandro Nadalin</title>
  <meta name="author" content="Alessandro Nadalin">

  
  <meta name="description" content="At the end I realized I should re-write this website with the latest ( not stable ) version of my favourite framework: Symfony2. I downloaded the PR7 &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://odino.org/re-doing-things-with-symfony2/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
   <link href="/stylesheets/data-table.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="Alessandro Nadalin" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7407627-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <header role="banner"><hgroup>
</hgroup>

</header>
  <!-- <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:odino.org" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav> -->
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">Re-doing Things With Symfony2</h1>
    
    
      <p class="meta">
        








  


<time datetime="2011-03-13T10:46:00+04:00" pubdate data-updated="true">Sunday, 13 March 2011 at 10:46</time>
        
         | <a href="#disqus_thread">Comments</a>
        
      </p>
    
  </header>


<div class="entry-content"><p>At the end I realized I should re-write this website with the latest ( not stable ) version of my favourite framework: Symfony2.</p>

<p>I downloaded the PR7 and started converting the old Sf1.x application to Symfony2: since I had really cool impressions, and since I made a few mistakes, I want to share a few considerations.</p>

<!-- more -->


<h2>What&rsquo;s the stack?</h2>

<p><img class="right" src="/images/symfony2.png"></p>

<p>The Symfony2 version is the PR7, as I said, while I used, for the first time, Twig.</p>

<p>I mapped a single entity, <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Entity/Content.php">Content</a>, through Doctrine2.</p>

<p>The backend is still the one made with symfony 1.4, since I had no reason at all to spend time on a backend without the admin generator.</p>

<p>I heavily used the HTTP caching headers: that&rsquo;s basically why I decided to move this site to Symfony2; I will monitor the stats of this VPS in order to get some conclusions in a few days.</p>

<h2>Twig</h2>

<p>That&rsquo;s amazing.</p>

<p>Templates become <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Resources/views/Default/tags.html.twig#L10">declarative</a> is a second.</p>

<p>Something we will definitely appreciate are the filters and the tests..</p>

<p>The filters are a way to format a variable:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>article.publishedDate | date</span></code></pre></td></tr></table></div></figure>


<p>and they become powerful when you think that, behind the scenes, Twig is purely OO, so you can plug it with stuff like:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>article.title | slug</span></code></pre></td></tr></table></div></figure>


<p>The <strong>testers</strong> are another really cool thing.</p>

<p>As far as I undertood, they follow a is statement:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>if article.id is odd</span></code></pre></td></tr></table></div></figure>


<p>Again, really powerful when you think at:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>
</span><span class='line'>{% if author.country is european %}
</span><span class='line'>...
</span><span class='line'>{% if article.date is summer %} 
</span><span class='line'></span></code></pre></td></tr></table></div></figure>


<p>However, I&rsquo;ve made a few mistakes with the templates, because I didn&rsquo;t find a way to avoid the duplication of <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Resources/views/Default/content.html.twig#L3">declaring the metatags</a> in every single template.</p>

<h2>Controllers</h2>

<p>I practically have a <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Controller/BlogController.php">single controller</a>, which handles the whole blog.</p>

<p>Since I wanted to deploy the blog as faster as I could, I decided to have <strong>fat controllers</strong> without using the <strong>repository pattern</strong>, which is the one we will use for high-value code.</p>

<p><a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Controller/BlogController.php#L82">Mapping your routes with the annotations</a>, well, that is awesome: since the routing gets compiled down into the cache the overhead is really small.</p>

<p>Be aware that if you have <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Controller/BlogController.php#L140">multiple parameters in the route</a>, you must specify the requirements, otherwise <strong>mess will come</strong>.</p>

<p>I wrote tons of LoCs in the controller, but with the annotations you should be able to let the controller only fetch stuff from the DB (without even specifying the <a href="http://bundles.symfony-reloaded.org/frameworkextrabundle/annotations/view.html#usage">template rendering</a> LoCs in PHP).</p>

<h2>Querying the database</h2>

<p>The fact that you can use <a href="https://github.com/odino/odino_org/blob/master/src/Odino/BlogBundle/Controller/BlogController.php#L92">N placeholders</a> for the query variables is really good, and the whole API hasn&rsquo;t changed so much from Doctrine 1.2.</p>

<h2>Conclusions</h2>

<p>I&rsquo;ve boiled a few spaghetti on GitHub this weekend, but I&rsquo;m pretty satisfied that I know where I failed and why ( were we speaking about high-value code? ;&ndash;) ).</p>

<p>Symfony2 seems amazing, as I said <a href="http://www.odino.org/268/creating-your-own-services-for-the-symfony2-dic">looking at the DIC</a>.</p>

<p>Other conclusions, dealing with the HTTP cache and server resources, will come in a few days&hellip;</p>

<h2>Ah, wait!</h2>

<p>If you find that something is broken, tell me in the comments or wherever!</p>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">Alessandro Nadalin</span></span>

      








  


<time datetime="2011-03-13T10:46:00+04:00" pubdate data-updated="true">Sunday, 13 March 2011 at 10:46</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/symfony2/'>Symfony2</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://odino.org/re-doing-things-with-symfony2/" data-via="_odino_" data-counturl="http://odino.org/re-doing-things-with-symfony2/" >Tweet</a>
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/the-art-of-agile-development-my-review/" title="Previous Post: The art of agile development, my review">&laquo; The art of agile development, my review</a>
      
      
        <a class="basic-alignment right" href="/ideas-of-march-rest-better/" title="Next Post: Ideas of March: REST better">Ideas of March: REST better &raquo;</a>
      
    </p>
  </footer>
</article>

  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
    <h1>
        Alessandro Nadalin
    </h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/conferences">Conferences</a>
        </li>
        <li>
            <a href="/archives">Archives</a>
        </li>
        <li>
            <a href="http://twitter.com/_odino_">Twitter</a>
        </li>
        <li>
            <a href="/atom.xml">Feed</a>
        </li>
    </ul>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/drop-openjdk-and-upgrade-java-to-the-oracle-packages/">Drop OpenJDK and upgrade Java to the Oracle packages</a>
      </li>
    
      <li class="post">
        <a href="/speaking-about-angularjs-soa-and-orientdb-in-montreal-at-the-confoo-2014/">Speaking about AngularJS, SOA and OrientDB in Montreal at the Confoo 2014</a>
      </li>
    
      <li class="post">
        <a href="/space-to-the-youngsters-dot-dot-dot/">Space to the youngsters...</a>
      </li>
    
      <li class="post">
        <a href="/cakefest-2013-wrap-up/">CakeFest 2013 wrap-up</a>
      </li>
    
      <li class="post">
        <a href="/see-you-in-paris-at-the-2013-edition-of-the-php-forum/">See you in Paris at the 2013 edition of the PHP Forum</a>
      </li>
    
  </ul>
</section>

  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2013 - Alessandro Nadalin -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'odino';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://odino.org/re-doing-things-with-symfony2/';
        var disqus_url = 'http://odino.org/re-doing-things-with-symfony2/';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
