---
layout: default
single: true
---
<!-- BEGIN _layouts/post.html -->
{% include article.html %}

<div class="recent entry-content">
  <hr class="divider-cazzuto">
  <img class="right" src="/images/wasec.jpeg" />
  <p>
    Hi there! I recently wrote an ebook on web application security, currently sold on <a href="https://leanpub.com/wasec">leanpub</a>,
    the <a href="https://www.amazon.com/dp/B081Z7SD48">Amazon Kindle store</a> and <a href="https://gum.co/wasec">gumroad</a>.
  </p>
  <p>
    It contains 150+ pages of content dedicated to securing web applications and improving your security awareness when building
    web apps, with chapters ranging from explaining how to secure HTTP cookies with the right flags to understanding why it is
    important to consider joining a bug bounty program.
  </p>
  <p>
    Feel free to skim through some of the <a href="http://localhost:4000/introduction-to-web-application-security/">free chapters published on this blog</a> and,
    if the content seems interesting enough to you, grab a copy
    on <a href="https://leanpub.com/wasec">leanpub</a>, the <a href="https://www.amazon.com/dp/B081Z7SD48">Amazon Kindle store</a>,
    <a href="https://gum.co/wasec">gumroad</a> or simply checkout right down below!
  </p>
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <a class="gumroad-button" href="https://gum.co/wasec" target="_blank">Buy the Web Application Security ebook for $6.99</a>
</div>

<div class="recent entry-content">
  <hr class="divider-cazzuto">
  <h3>
    In the mood for some more reading?
  </h3>
  <ul>
    {% for post in site.posts limit:7 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> ({{ post.date  | date: "%d %B %Y"}})</li>
    {% endfor %}
  </ul>
    <p>
      ...or <a href="/archives/">check the archives</a>.
    </p>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script type="text/javascript" />
(function () {
  'use strict';

  anchors.options = {
    placement: 'left',
    visible: 'hover',
    icon: '¶'
  };

  anchors.add('h2');
  anchors.add('h3');
  anchors.add('h4');

})();
</script>
<!-- <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'odino';
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
<!-- END _/layouts/post.html -->
