<hgroup>
  <h1 class="hentry" role="title"><a href="{% if post.url %}{{ post.url }}{% else %}{{ root_url }}{% endif %}">
    {% if page.showtitle %}{{ page.showtitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
  </h1>
  {% if page.url == "/index.html" or page.url == "/blog/archives/index.html" %}
      {% if site.subtitle %}
        <h2>{{ site.subtitle }}</h2>
      {% endif %}
  {% endif %}
  <p class="article-date">
      {{ page.date | date: "%A, %d %B %Y, %R" }}
  </p>
</hgroup>