<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><img src="/images/navigation/home.png" alt="home" title="Homepage" /></a></li>
  <li><a href="{{ root_url }}/about"><img src="/images/navigation/about.png" alt="about" title="About" /></a></li>
  <li><a href="{{ root_url }}/conferences"><img src="/images/navigation/conferences.png" alt="conferences" title="Conferences" /></a></li>
  <li><a href="http://twitter.com/_odino_"><img src="/images/navigation/twitter.png" alt="twitter" title="_odino_ on twitter" /></a></li>
  <li><a href="{{ root_url }}/blog/archives"><img src="/images/navigation/archives.png" alt="archives" title="Archives" /></a></li>
  <li><a href="{{ root_url }}/atom.xml"><img src="/images/navigation/rss.png" alt="rss" title="RSS feed" /></a></li>
</ul>
