<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><i class="icon-home icon-large"></i> Home</a></li>
  <li><a href="{{ root_url }}/about"><i class="icon-user icon-large"></i> About</a></li>
  <li><a href="{{ root_url }}/conferences"><i class="icon-group icon-large"></i> Conferences</a></li>
  <li><a href="{{ root_url }}/blog/archives"><i class="icon-briefcase icon-large"></i> Archives</a></li>
  <li><a href="{{ root_url }}/atom.xml"><i class="icon-rss icon-large"></i> RSS</a></li>
</ul>
