// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

li {
    margin-left: 50px;
}

*, html {
    background: #fff;
}

header[role="banner"] {
    text-align: center;
    padding-bottom: 0em;
    background: #fff;
    font-size: 1.6em;
    padding-top: 0.5em;
}

article[role="article"] header {
    padding-top: 0em;
    text-align: center;
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.no-sidebar, #main, #content { border-right: 0; }

article {
    padding-top: 0;
}

a, a:visited {
  color: #cc0033;
}

nav a, nav a:visited {
    color: #9A9A9A;
}

nav a:hover {
    color: #111;
    text-decoration: none;
}

.front-title {
    width:50%;
    float: left;
    margin-top: 0em;
    text-align: left;
}

.front-title span {
    font-style: italic;
}

.blog-index > article > .entry-content {
    width: 50%;
    float:right;
}

#content .blog-index article {
    padding-top: 0.3em;
}

footer span.categories {
    border-top: 1px solid #BFBFBF;
    width: 100%;
    display: block;
    padding-top: 0.5em;
}