// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#content {
	background-color: #E34D4D;
}

#bio-picture {
	border-radius: 10%;
	padding-right: 0px;	
	margin-right: 10px;	
}

[role="banner"] {
	background-image: url(https://si0.twimg.com/profile_background_images/403045150/generate_shared_stripe.png);
	border: 5px double black;
}


#main {
	border: 2px double #591414;
}

[role="banner"] h1 {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	font-size:	60px;
}

#topmenu {
	list-style-type: none;
	margin-top: 45px;
	word-spacing: 0.5em;
	width: 100%;
}

#topmenu a {
	text-decoration: none;
	padding: 10px;
	color: #5E5E5E;
}

#topmenu a:hover, body header h1 a {
	color: #cc0033;
}

#topmenu li {
	display: inline;
	background-color: #fff;
	font-size: 1.7em;
}